
/* Add your CSS below! */


body {
	color: #555555;
    text-align: center;
    background-color:  #FDCBE6;
	font-size:18px;
	font-family: 'Amatic SC';
}

h1 {
	font-family:  Helvetica, sans-serif;
	font-size:45px;
	color: #9E3B33;
}
 
 
a {
   color:  #000000;
   text-decoration: none;
 }

::selection {
  background: #FDCBE6; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FDCBE6; /* Gecko Browsers */
}

#playerNameBox{
	text-align: center;
	font-size: 30px;
	font-family: 'Amatic SC';
	border-radius:5px;
	border: 1px solid #ECFECC;
	height: 50px;
	width: 250px;

}

ul
{
    list-style-type: none;
	padding:0;
	margin:0;
}
li{
	padding:0 0 0 5px; 
}

li:nth-child(odd) {
    color: #777;
}
li:nth-child(even) {
    color: blue;
}



.gameLine{

}

.selected{
	background: #FFB18B;
}

.selected:hover{
 	background: #FF8532;
}

.unselected{
	background-color: #FDCBE6;
}

.unselected:hover{
	background: #E22C8C;
}


#gamesBox{
	font-size:25px ;
	color:#005537 ;
	height: 350px;
	width: 300px;
	font-family: 'Amatic SC';
	text-align: left;
	border: 3px solid #AAED16;
	overflow: auto;
}

#playersBox{
	font-size:25px ;
	color:#005537 ;
	height: 250px;
	width: 250px;
	font-family: 'Amatic SC';
	text-align: left;
	border: 3px solid #AAED16;
	overflow: auto;
}

#logDiv{
	font-size:20px ;
	color:#005537 ;
	height: 100px;
	width: 170px;
	font-family: 'Amatic SC';
	text-align: left;
	border: 3px solid #AAED16;
	overflow: auto;
}

#chatDiv{
	font-size:20px ;
	color:#005537 ;
	height: 100px;
	width: 170px;
	font-family: 'Amatic SC';
	text-align: left;
	border: 3px solid #AAED16;
	overflow: auto;
}

.scrollFancy
{
	
}

.scrollFancy::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ECFECC;
}

.scrollFancy::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(0,0,0,0);
	
}

.scrollFancy::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #AAED16;
}



.gameLine{

}

#canvascontainer{	
	
	margin: 0 auto;	
	
	border: 3px solid #005537;
	width: 800px;
	height: 600px;
	
}
#cr-stage { 
	background-color:  #ECFECC;
	color: white;
	
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}